body {
    margin: 0;
    padding: 0;
    width: 300px;
    color: #F0F6FC;
    background-color: #0E1218;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.header {
    background-color: #1A2028;
    border-bottom: 1px solid #323941;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 15px;
}

.accent-color {
    color: #b93a36;
}

.logo {
    filter: invert();
    aspect-ratio: 1/1;
    width: 20px;
    height: 20px;
}

.exit-button {
    border: none;
    border-radius: 4px;
    color: #9198A1;
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    font-family: monospace;
    background-color: transparent;
    transition: background-color 0.2s;
}

.exit-button:hover {
    background-color: #262C36;
}

.reminder-label {
    font-size: 0.95rem;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
}

.reminder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #323941;
    border-radius: 50%;
    margin-right: 5px;
}

.reminder-icon > img {
    filter: invert() brightness(85%);
    width: 0.8rem;
    height: 0.8rem;
    position: relative;
}

.reminder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.reminder-card {
    width: calc(100% - 22px);
    height: 60px;
    background-color: #151B23;
    border: 1px solid #3D444D;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.reminder-card > button {
    max-width: 20px;
    height: 100%;
    border: none;
    color: #0E1218;
    background-color: #3D444D;
    font-family: monospace;
    font-weight: 900;
    transition: background-color 0.2s;
}

.reminder-card > button:hover {
    background-color: #9198A1;
}

.reminder-card > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
}

.reminder-time {
    font-size: 0.8rem;
    font-weight: 600;
    color: #3793F8;
}

.button-container {
    display: flex;
    padding: 10px;
    gap: 5px;
}

.button-container > button {
    flex-grow: 1;
    border: none;
    background-color: #238636;
    border-radius: 5px;
    color: #F0F6FC;
    padding: 5px 10px;
    font-size: 0.75rem;
    transition: background-color 0.2s;
}

.button-container > button:hover {
    background-color: #49ad5d;
}